@import "./skin/red.scss";
*{
    margin: 0;padding: 0;
}
a{
    text-decoration: none;
}
ul,li{
    list-style: none;
}
body{
    font-size: 0.32rem;
    line-height: 1.6;
    font-family: -apple-system-font,Helvetica Neue,sans-serif;
}
.header{
    height: 4.66rem;
    background: url() center / 100% no-repeat;
    text-align: center;
    .title{
        display: inline-block;
        border-radius: .1rem;
        height: .56rem;
        line-height: .56rem;
        white-space: nowrap;
        background-color: red;
        color: #fff;
        // .title-img{}
        // .title-name{}
    }
    // .avatar{
    //     .avatar-img{}
    //     .avatar-number{}
    // }
    // .tab{

    // }
}
