* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul, li {
  list-style: none;
}

html, body, .page {
  height: 100%;
}

.page {
  background: #fffff4;
  overflow: hidden;
}

.header {
  height: 4.66rem;
  background: #fffff4 url("../imgs/showbg1.png") 0 -0.36rem/100% no-repeat;
  text-align: center;
  position: relative;
}

.header .title {
  display: inline-block;
  border-radius: .1rem;
  height: .56rem;
  line-height: .56rem;
  white-space: nowrap;
  background-color: #406168;
  color: #fff;
  box-sizing: border-box;
  padding: .08rem .22rem;
  margin-top: .2rem;
}

.header .title .title-img {
  width: .4rem;
  height: .4rem;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
}

.header .title .title-name {
  line-height: .4rem;
  display: inline-block;
  vertical-align: top;
}

.header .avatar {
  width: 2rem;
  height: 2rem;
  position: absolute;
  left: 50%;
  margin-left: -1rem;
  margin-top: .25rem;
}

.header .avatar .avatar-img {
  width: 100%;
  height: 100%;
}

.header .avatar .avatar-number {
  position: absolute;
  width: 1.4rem;
  line-height: .5rem;
  color: #fff;
  font-weight: bold;
  text-align: center;
  background: #39d5d1;
  border-radius: .08rem;
  left: 50%;
  margin-left: -.75rem;
  bottom: -.2rem;
  padding: 0 .05rem;
  font-size: .3rem;
}

.header .tab {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: .64rem;
  background: #fffff4;
  text-align: center;
}

.header .tab .tab-nav {
  display: inline-block;
  height: 100%;
  width: 1.56rem;
  background: #cdcdcd;
  color: #fff;
  border-radius: .08rem .08rem 0 0;
  cursor: pointer;
}

.header .tab .tab-nav.active {
  background: #39d5d1;
}

.header .tab .tab-nav:nth-child(2) {
  margin: 0 .72rem;
}

.header .tab .tab-nav .icon {
  display: inline-block;
  vertical-align: middle;
  margin-right: .12rem;
}

.header .tab .tab-nav .icon-pj {
  width: .27rem;
  height: .32rem;
  background: url(../imgs/icon-pj.png) center/100% no-repeat;
}

.header .tab .tab-nav .icon-ds {
  width: .34rem;
  height: .34rem;
  background: url(../imgs/icon-ds.png) center/100% no-repeat;
}

.header .tab .tab-nav .icon-md {
  width: .32rem;
  height: .30rem;
  background: url(../imgs/icon-scan.png) center/100% no-repeat;
}

.header .tab .tab-nav > span {
  display: inline-block;
  vertical-align: middle;
  height: 100%;
  line-height: .64rem;
}

.hrbg {
  height: .24rem;
  background: #f1f1f1;
}

.body {
  background: #fffff4;
  overflow: hidden;
}

.body .message {
  height: .55rem;
  line-height: .55rem;
  border-bottom: 1px solid #f1f1f1;
  color: #9f9f9f;
  font-size: .24rem;
  text-align: left;
}

.body .message .icon-message {
  width: .32rem;
  height: 100%;
  display: inline-block;
  background: url("../imgs/icon-msg1.png") center/0.32rem 0.34rem no-repeat;
  vertical-align: top;
  margin: 0 .15rem 0 .25rem;
}

.body .message .message-text {
  display: inline-block;
  vertical-align: top;
  height: .55rem;
  line-height: .55rem;
}

.body .content {
  height: 6.42rem;
  position: relative;
}

.body .content .tab-content {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
}

.body .content .tab-content .tips-title {
  color: #3e405a;
  font-size: .24rem;
  position: relative;
  margin: .4rem 0 .8rem 0;
  display: inline-block;
}

.body .content .tab-content .tips-title::before, .body .content .tab-content .tips-title::after {
  content: '';
  width: 1.6rem;
  height: 1px;
  background: #3e405a;
  position: absolute;
  top: 50%;
  transform: scale(50%) translateY(-50%);
}

.body .content .tab-content .tips-title::before {
  left: -110%;
}

.body .content .tab-content .tips-title::after {
  right: -110%;
}

.body .content .tab-content .form-box {
  text-align: center;
}

.body .content .tab-content .form-box .btn-item {
  width: 1.6rem;
  height: 1.6rem;
  color: #39d5d1;
  border-radius: .08rem;
  display: inline-block;
  overflow: hidden;
  vertical-align: top;
  box-sizing: border-box;
  border: 1px solid #39d5d1;
}

.body .content .tab-content .form-box .btn-item.active {
  background: #39d5d1;
  color: #fff;
}

.body .content .tab-content .form-box .btn-item.active input {
  background: #39d5d1;
}

.body .content .tab-content .form-box .btn-item.active input::-webkit-input-placeholder {
  color: #fff;
}

.body .content .tab-content .form-box .btn-item:nth-child(3n-1) {
  margin: 0 .6rem .6rem;
}

.body .content .tab-content .form-box .btn-item > span:first-child {
  font-size: .65rem;
  line-height: 1.6rem;
}

.body .content .tab-content .form-box .btn-item > input {
  display: inline-block;
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  background: #fffff4;
  box-sizing: border-box;
  font-size: .65rem;
  color: #fff;
  text-align: center;
}

.body .content .tab-content .form-box .btn-item > input::-webkit-input-placeholder {
  color: #39d5d1;
  font-size: .4rem;
}

.body .content .tab-order .order-box {
  width: 4.1rem;
  height: 4.1rem;
  background: url(../imgs/orderBg.png) center/100% no-repeat;
  position: relative;
  margin: 0 auto;
}

.body .content .tab-order .order-box .order-mask {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  width: .91rem;
  height: .74rem;
  background: url(../imgs/orderMask.png) center/100% no-repeat;
}

.body .content .tab-order .order-box > img {
  width: 3.44rem;
  height: 3.44rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.body .content .tab-order .order-tips {
  margin-top: .3rem;
}

.body .content .tab-pj .tips-title {
  margin-bottom: 0;
}

.body .content .tab-pj .stars {
  text-align: center;
}

.body .content .tab-pj .stars .star-box {
  text-align: center;
  margin: .3rem 0 .2rem 0;
}

.body .content .tab-pj .stars .star-box > span {
  display: inline-block;
  width: .38rem;
  height: .44rem;
  background: url(../imgs/stardefault.png) center/100% no-repeat;
  margin: 0 .3rem;
  cursor: pointer;
}

.body .content .tab-pj .stars .star-box > span:first-child {
  margin-left: 0;
}

.body .content .tab-pj .stars .star-box > span:last-child {
  margin-right: 0;
}

.body .content .tab-pj .stars .star-box > span.active {
  background-image: url("../imgs/star_on1.png");
}

.body .content .tab-pj .stars .star-text {
  font-size: .28rem;
  color: #39d5d1;
}

.body .content .tab-pj .remarks {
  padding: 0 .4rem;
  color: #9f9f9f;
}

.body .content .tab-pj .remarks > p {
  font-size: .24rem;
  text-align: left;
  padding: 0 .1rem;
  margin-bottom: .3rem;
}

.body .content .tab-pj .remarks .remark-item {
  display: inline-block;
  border-radius: .3rem;
  width: 2rem;
  height: .64rem;
  box-sizing: border-box;
  border: 1px solid #9f9f9f;
  margin-bottom: .4rem;
}

.body .content .tab-pj .remarks .remark-item:nth-child(3n-1) {
  margin-left: .2rem;
  margin-right: .2rem;
}

.body .content .tab-pj .remarks .remark-item.active {
  border-color: #39d5d1;
  color: #39d5d1;
}

.body .content .tab-pj .remarks .remark-item.active i {
  background-image: url("../imgs/love-on1.png");
}

.body .content .tab-pj .remarks .remark-item span {
  display: inline-block;
  vertical-align: middle;
  font-size: .24rem;
  line-height: calc(.64rem - 2px);
  margin-right: .1rem;
}

.body .content .tab-pj .remarks .remark-item i {
  display: inline-block;
  width: .3rem;
  height: .24rem;
  background: url(../imgs/love-default.png) center/100% no-repeat;
  vertical-align: middle;
}

.body .content .tab-pj .remarks .remark-free.active textarea {
  border-color: #39d5d1;
  color: #39d5d1;
}

.body .content .tab-pj .remarks .remark-free.active textarea::-webkit-input-placeholder {
  color: #39d5d1;
}

.body .content .tab-pj .remarks .remark-free textarea {
  width: 99%;
  height: 1.24rem;
  border: 1px solid #9f9f9f;
  color: #9f9f9f;
  outline: none;
  background: #fffff4;
  border-radius: .3rem;
  box-sizing: border-box;
  padding: .22rem;
}

.body .content .tab-pj .remarks .remark-free textarea::-webkit-input-placeholder {
  color: #9f9f9f;
}

.body .submit {
  margin-top: .3rem;
}

.body .submit .submit-btn {
  background: #39d5d1;
  color: #fff;
  width: 6.68rem;
  line-height: .8rem;
  text-align: center;
  display: block;
  margin: 0 auto;
  border-radius: .12rem;
  margin-bottom: .3rem;
}

.bannerasd {
  width: 6.9rem;
  position: fixed;
  bottom: .3rem;
  left: 50%;
  margin-left: -3.45rem;
}

.success-box {
  width: 2.65rem;
  height: 2.8rem;
  position: fixed;
  left: 50%;
  margin-left: -1.325rem;
  top: 3.3rem;
  text-align: center;
}

.success-box > img {
  width: 1.6rem;
  height: 1.6rem;
  margin: 0 auto;
}

.success-box > p:first-of-type {
  color: #dd4e32;
  font-size: .4rem;
}

.success-box > p:last-child {
  font-size: .32rem;
  white-space: nowrap;
}
